.PokemonCard{
    margin:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform-style: preserve-3d;
    transition: all .50s ease-in-out;
    text-align: center;
}

.PokemonCard PokemonCard__Side{

        position: absolute;
        height: 100%;
        width: 100%;
        background: #FFF;
        text-align: center;
        line-height: 200px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
}

.PokemonCard:hover{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    cursor:pointer;
    
}


.card-title{
    padding: 2px 16px;
    text-align:center;
}

.details-label{
    color:blue;
}

.plus-details{
    color:blue;
    -webkit-transition: all 3s ease all;
    transition: all 3s ease all;
    font-size:25px;
}

.close-details{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari 3-8 */
    transform: rotate(45deg);
    -webkit-transition: all 3s ease all;
    transition: all 3s ease all;
    color:blue;
    font-size:25px;
}



