.Pokedex__Surface{
    width:200px;
    height:270px;
    perspective: 600px;
}

.PokemonCard{
    margin:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:100%;
    height:100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.PokemonCard__Face{
    width:100%;
    height:100%;
    backface-visibility: hidden;
}

.PokemonCard__Back{
    transform: rotateY( 180deg );
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 250px;
    display:none;
}

.PokemonCard__Back__Show{
    transform: rotateY( 180deg );
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 250px;
    display: block;
}

.PokemonCard:hover{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    cursor:pointer;
    
}


.card-title{
    padding: 2px 16px;
    text-align:center;
}


.PokemonCard.is-flipped {
    transform: rotateY(180deg);
  }

.Pokedex__Fetching{
    text-align:center;
}



